<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Actualité
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <label for="">Date publication:</label>
    <p>{{ actualite.created_at }}</p><br>

    <label for="">Titre:</label>
    <p>{{ actualite.title }}</p><br>

    <label for="">Description</label>
      <div [innerHTML]=actualite.content>
      </div>
  </ion-card-content> 
</ion-content>
