ion-avatar {
    height: 45px;
    width: 45px;
}
h3 {
    font-weight: 700;
    font-size: 15px;
}
.flex_box {
    display: inline-block;
    justify-content: space-between;
}
ion-note {
    font-size: 13px;
}
.text-icon {
    font-size: 22px;
    margin-bottom: -6px;
}
p {
    color: grey;
}