<ion-header>
  <ion-toolbar color="primary">
      <ion-title size="large">Mise en relation</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button  routerLink="/tchat-list-demandeur" shape="round" fill="outline" color="primary" size="small">
    <ion-icon slot="start" name="log-out"></ion-icon>
    Mes demandes envoyées
  </ion-button>
<div *ngIf="relations.length > 0">
  <ion-item *ngFor="let relation of relations" detail>
      <ion-avatar slot="start"  (click)="tchat(relation)">
        <img src="assets/imgs/account.png">
      </ion-avatar>
      <ion-label>
        <div class="flex_box" (click)="tchat(relation)">
          <h3>{{ relation.demandeur.username }}</h3>
          <ion-note slot="end">{{ relation.created_at.split(" ")[1] }}
             - <span *ngIf="relation.statut_id == 1" style="color:green"> En Relation</span>
             <span *ngIf="relation.statut_id == 2" style="color:orange"> En Attente</span>
            </ion-note>
        </div>
        <p>
          <ion-button *ngIf="relation.demandeur.id  != user && relation.statut_id == 2" shape="round" fill="outline" color="success" size="small" (click)="validerDemande(relation.id)">
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
            Valider
          </ion-button>
        </p>
      </ion-label>
  </ion-item>
</div>

<div *ngIf="relations.length == 0">
  <img src="assets/imgs/account-pink.png" class="img-center">
  <p text-center>Vous n'avez pas encore de reçu de demande de mise en relation</p>
</div>
</ion-content>