<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Inscription
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="assets/imgs/BAV.png" alt="Paris" class="animated fadeInDown center">
  <ion-item>
    <ion-label position="floating">Type de profil</ion-label>
    <ion-select [(ngModel)]="data.type_id">
      <ion-select-option value="2">Expert</ion-select-option>
      <ion-select-option value="3">Investisseur</ion-select-option>
      <ion-select-option value="1">Cédant</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pseudo</ion-label>
    <ion-input [(ngModel)]="data.username"></ion-input>
  </ion-item>
  <ion-item *ngIf="data.type_id == 2">
    <ion-label position="floating">Domaine de compétence</ion-label>
    <ion-input type="text" [(ngModel)]="data.domaine_competence"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pays</ion-label>
    <ion-select [(ngModel)]="data.pays_id">
      <ion-select-option *ngFor="let p of pays" value="{{ p.id }}">{{ p.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Ville</ion-label>
    <ion-select [(ngModel)]="data.ville_id">
      <ion-select-option *ngFor="let ville of villes" value="{{ ville.id }}">{{ ville.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Quartier: (Obligatoire pour Abidjan)</ion-label>
    <ion-input type="text" [(ngModel)]="data.adresse"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numéro de téléphone</ion-label>
    <ion-input type="tel" [(ngModel)]="data.telephone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" [(ngModel)]="data.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input type="password" [(ngModel)]="data.password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmation mot de passe</ion-label>
    <ion-input type="password" [(ngModel)]="data.password_confirmation"></ion-input>
  </ion-item>

  <ion-button expand="block" color="secondary" (click)="signUp()">
    <ion-icon name="log-in"></ion-icon>
    M'inscrire
  </ion-button>
</ion-content>
