.header{
    background-color: #3639a4;
    height: 180px;
    padding-top: 1px;
}

.header h2{
    color: white;
    font-weight: bold;
    text-align: center ;
}

.header h6{
    color: white;
    text-align: center ;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.followings p {
    color: white;
    margin: 8px 0px 0px 0px;
}

.border-blue {
    border: 7px solid #3639a4;
    border-radius: 50%;
    width: fit-content;
}

.border-white {
    border: white solid 4px;
    border-radius: 50%;
    width: fit-content;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}

.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
}

.img-box img{
    height: 130px;
    width: 130px;
}