<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mon Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <h2>{{ user.username }}</h2>
    <h6>{{ user.email }}</h6>
    <div class="space-between">
      <div class="followings">
        <ion-badge color="primary" mode="ios"></ion-badge>
        <p></p>
      </div>
      <div class="followings">
        <ion-badge color="primary" mode="ios"></ion-badge>
        <p></p>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img src="../../assets/imgs/profil.jpg">
        </div>
      </div>
    </div>
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <h6>Civilité</h6>
      </ion-col>
      <ion-col size="8">
        <p>{{ user.civilite }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <h6>E-mail</h6>
      </ion-col>
      <ion-col size="8">
        <p>{{ user.email }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <h6>Contact</h6>
      </ion-col>
      <ion-col size="8">
        <p>{{ user.telephone }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <h6>Adresse</h6>
      </ion-col>
      <ion-col size="8">
        <p>{{ user.adresse }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" color="secondary" routerLink="/user-update">
    <ion-icon name="refresh-outline"></ion-icon>
    Modifier
  </ion-button>
</ion-content>
