<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mise en relation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input type="text" [(ngModel)]="data.nom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Prénoms</ion-label>
    <ion-input type="text" [(ngModel)]="data.prenoms"></ion-input>
  </ion-item>

  <ion-button expand="block" color="secondary"  (click)="valider()">
    <ion-icon name="mail-unread"></ion-icon>
    Valider
  </ion-button>
</ion-content>
