<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      FAQ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p class="justify">
    <em style="color: #3639a4;">Une entreprise peut être exploitée par un entrepreneur individuel ou par une société?</em><br><br>
    Une société est une personne morale, juridiquement distincte de ses associés et dirigeant(s).
    Elle a son propre patrimoine. Elle peut être unipersonnelle, c’est-à-dire n’avoir qu’un seul associé.

    Ce n’est que lorsque l’entreprise est exploitée par une société que l’option entre les deux méthodes d’acquisition existe.
    Si l’entreprise est exploitée par un entrepreneur individuel, seule l’acquisition du fonds de commerce est envisageable.
  </p><br>
  <h2 style="color: #3639a4;"><u>Fonds de commerce VS société</u></h2>
  <p class="justify">
    Le fonds de commerce représente l’actif de l’entreprise, c’est-à-dire l’ensemble des éléments qui permettent d’exercer l’activité.
    Aux termes de l’article 137 de l’Acte Uniforme révisé de l’OHADA portant sur le droit commercial général, le fonds de commerce peut comprendre différents éléments mobiliers, corporels et incorporels, notamment : installations, aménagements et installations, matériel, mobilier, marchandises en stock, droit au bail, licences d’exploitation, brevets d’invention, marques de fabrique et de commerce, dessins et modèles, et tout autre droit de propriété intellectuelle nécessaires à l’exploitation.
  </p>
  <p class="justify">
    La société est la structure qui possède l’entreprise. Acheter une société revient à acheter les titres qui représentent la société (actions dans les SA, SAS et SASU et parts sociales dans les SARL et EURL).
  </p>
  <p class="justify">
    En achetant la société, l’acquéreur devient propriétaire de l’actif de l’entreprise (le fonds de commerce) mais également de tout son passif, ses engagements, ses dettes.
  </p><br>
  <h2 style="color: #3639a4;"><u>Acquisition du fonds de commerce</u></h2>
  <h4 style="color: #3639a4;">Avantages :</h4>
  <ul>
    <li>L’acquéreur ne reprend pas l’historique et part d’une feuille blanche.</li>
    <li>Les dettes ne sont pas transférées et il n’est pas responsable des engagements pris par le vendeur (ex : emprunt)</li>
  </ul>

  <h4 style="color: #3639a4;">Inconvénients :</h4>
  <ul>
    <li>Le formalisme qui entoure l’acquisition est lourd pour assurer la sécurité juridique de l’opération.</li>
    <li>La nécessité de définir de manière détaillée ce qui est vendu.</li>
    <li>Le prix de vente sera séquestré et le Vendeur ne pourra le percevoir que 30 jours après la cession, s’il n’y a pas opposition.</li>
  </ul>


  <h2 style="color: #3639a4;"><u>Acquisition de la société.</u></h2>
  <h4 style="color: #3639a4;">Avantages :</h4>
  <ul>
    <li>La continuité.</li>
    <li>L’acquéreur bénéficie des bonnes relations entretenues avec les banques.</li>
    <li>L’acquéreur reprend les contrats sauf exception.</li>
  </ul>

  <h4 style="color: #3639a4;">Inconvénients :</h4>
  <ul>
    <li>L’acquéreur reprend le passif de l’entreprise.</li>
    <li>Incertitude sur le contenu de l’acquisition.</li>
  </ul>

  <p class="justify">Dans les deux cas, la réalisation d’un audit préalable par un professionnel du droit est indispensable pour sécuriser l’opération d’acquisition.</p>
</ion-content>
