<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cedant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="annonces.length > 0">
    <ion-grid>
      <ion-row *ngFor="let annonce of annonces" [routerLink]="['/cedent-detail', annonce.id]">
        <ion-col size="2">{{ annonce.created_at }}</ion-col> 
        <ion-col size="10">
          <strong>Activité:</strong> {{ annonce.activite }}<br>
          <strong>Ville:</strong> {{ annonce.ville.name }}<br>
          <strong>CA:</strong> {{ numStr(annonce.chiffre_affaire, " ") }} F CFA
        </ion-col> 
        <hr> 
      </ion-row> 
    </ion-grid>
  </div>
  
  <div *ngIf="annonces.length == 0">
    <img src="assets/imgs/BAV.png" alt="Paris" class="animated fadeInDown center">
    <ion-item>
      <ion-label position="floating">Ville</ion-label>
      <ion-select [(ngModel)]="data.ville_id">
        <ion-select-option *ngFor="let ville of villes" [value]="ville.id">{{ ville.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Secteur d'activité</ion-label>
      <ion-input type="text" [(ngModel)]="data.secteuractivite"></ion-input>    
    </ion-item>
    <ion-item>
      <ion-label position="floating">Chiffre d'affaire</ion-label>
      <ion-input type="text" [(ngModel)]="data.chiffre_affaire"></ion-input>    
    </ion-item>
  
    <ion-button expand="block" color="secondary" (click)="search()">
      <ion-icon name="search"></ion-icon>
      Chercher
    </ion-button>
  </div>

</ion-content>
