<ion-content padding>
  <img src="assets/imgs/BAV.png" alt="Paris" class="center animated fadeInDown">
  <div class="ion-text-center" style="margin-top: 50px;">
    <b class="animated fadeInDown">Authentification</b><br>
    <div style="margin-top: 45px;" class="animated fadeInUp">
      <ion-button expand="block" shape="round" routerLink="/connexion">Connexion</ion-button>
      <ion-button expand="block" shape="round" fill="outline" routerLink="/inscription">Inscription</ion-button>
    </div>
    
  </div>
</ion-content>
