hr {
    // border: 1px solid 8c8b8b !important;
     height: 1px !important;
     width: 500px !important;
     background: #8c8b8b !important;
     display: block !important;
     font-size: 2em !important;
     opacity: 1 !important;
     visibility: visible !important;
   }