<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Investisseurs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="annonces.length > 0">
    <ion-grid>
      <ion-row *ngFor="let annonce of annonces" [routerLink]="['/investisseur-detail', annonce.id]">
        <ion-col size="2">{{ annonce.created_at }}</ion-col> 
        <ion-col size="10">
          <strong>Activité:</strong>{{ annonce.activite }}<br>
          <strong>Ville:</strong>{{ annonce.ville }}<br>
          <strong>Montant:</strong> {{ numStr(annonce.montant_a_investir, " ") }} F CFA<br>
        </ion-col> 
        <hr> 
      </ion-row> 
    </ion-grid>
  </div>
  <div *ngIf="annonces.length == 0">
    <img src="assets/imgs/BAV.png" alt="Paris" class="animated fadeInDown center">
    <ion-item>
      <ion-label position="floating">Ville</ion-label>
      <ion-select [(ngModel)]="data.ville_id">
        <ion-select-option *ngFor="let ville of villes" [value]="ville.id">{{ ville.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Secteur d'activité</ion-label>
      <ion-input type="tel" [(ngModel)]="data.secteuractivite"></ion-input>    
    </ion-item>
    <ion-item>
      <ion-label position="floating">Montant minimun à investir</ion-label>
      <ion-input type="tel" [(ngModel)]="data.montantMinInvestir"></ion-input>    
    </ion-item>
    <ion-item>
      <ion-label position="floating">Montant maximum à investir</ion-label>
      <ion-input type="tel" [(ngModel)]="data.montantMaxInvestir"></ion-input>    
    </ion-item>  
    <ion-button expand="block" color="secondary" (click)="search()">
      <ion-icon name="search"></ion-icon>
      Chercher
    </ion-button>
  </div>
</ion-content>
