<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
      <ion-title size="large">Mise en relation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
    <ion-segment-button value="mes_demandes" checked>
      <ion-label>Envoyée(s)</ion-label>
      <ion-icon name="log-out"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="vos_demandes">
      <ion-label>Reçue(s)</ion-label>
      <ion-icon name="log-in"></ion-icon>
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'mes_demandes'">
      <div *ngIf="relations.length > 0">
        <ion-item *ngFor="let relation of relations" detail>
            <ion-avatar slot="start"  (click)="tchat(relation)">
              <img src="assets/imgs/account.png">
            </ion-avatar>
            <ion-label>
              <div class="flex_box" (click)="tchat(relation)">
                <h3>{{ relation.receveur.username }}</h3>
                <ion-note slot="end">{{ relation.created_at.split(" ")[0] }} à {{ relation.created_at.split(" ")[1] }}
                   - <span *ngIf="relation.statut_id == 1" style="color:green"> En Relation</span>
                   <span *ngIf="relation.statut_id == 2" style="color:orange"> En Attente</span>
                   <span *ngIf="relation.statut_id == 3" style="color:red"> Réfusé</span>
                   <span *ngIf="relation.statut_id == 4" style="color:red"> Réfusé</span>
                  </ion-note>
              </div>
              <p *ngIf="relation.statut_id == 2">
                <ion-button shape="round" fill="outline" color="dark" size="small" (click)="annulerDemande(relation.id)">
                  <ion-icon name="close-circle-outline"></ion-icon>
                  Annuler
                </ion-button>
              </p>
            </ion-label>
        </ion-item>
      </div>
      
      <div *ngIf="relations.length == 0">
        <img src="assets/imgs/account-pink.png" class="img-center">
        <p text-center>Vous n'avez pas encore envoyé de demande de mise en relation</p>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'vos_demandes'">
      <div *ngIf="relations.length > 0">
        <ion-item *ngFor="let relation of relations" detail>
            <ion-avatar slot="start" (click)="tchat(relation)">
              <img src="assets/imgs/account.png">
            </ion-avatar>
            <ion-label>
              <div class="flex_box" (click)="tchat(relation)">
                <h3>{{ relation.demandeur.username }}</h3>
                <ion-note slot="end">{{ relation.created_at.split(" ")[0] }} à {{ relation.created_at.split(" ")[1] }}
                   - <span *ngIf="relation.statut_id == 1" style="color:green"> En Relation</span>
                   <span *ngIf="relation.statut_id == 2" style="color:orange"> En Attente</span>
                   <span *ngIf="relation.statut_id == 3" style="color:red"> Réfusée</span>
                   <span *ngIf="relation.statut_id == 4" style="color:red"> Réfusée</span>
                  </ion-note>
              </div>
              <p *ngIf="relation.statut_id == 2">
                <ion-button shape="round" fill="outline" color="success" size="small" (click)="validerDemande(relation.id)">
                  <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                  Valider
                </ion-button>
              </p>
            </ion-label>
        </ion-item>
      </div>
      
      <div *ngIf="relations.length == 0">
        <img src="assets/imgs/account-pink.png" class="img-center">
        <p text-center>Vous n'avez pas encore de reçu de demande de mise en relation</p>
      </div>
    </ion-list>
  </div>
</ion-content>