.bubble{
    border-radius: 10px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    color: white;
  }
  
  .bubble::before {
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
  }
  
  .me {
    background-color: #3639a4;
    float: left;
    margin: 5px 45px 5px 20px;
  }
  
  .me::before {
    background-color: #3639a4;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
  }
  
  .you {
    background-color: #e95c7a;
    float: right;
    margin: 5px 20px 5px 45px;
  }
  
  .you::before {
    background-color: #e95c7a;
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
  }

  ion-icon{
    color: #3639a4;
  }


  ion-footer ion-toolbar {
    --background: #f4f4f4;
}
ion-footer ion-button {
    font-weight: 600;
}
ion-input {
    background: white !important;
    height: 31px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 4px;
    border: 1px #dfdfdf solid;
    --padding-start: 8px;
}

ion-avatar {
  height: 30px;
  width: 30px;
}
     
.status {
  color: white;
  font-weight: 400;
  font-size: 13px;
}
ion-header ion-avatar {
  padding: 3px;
}