<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ expert.username }}<br><div class="status">En ligne</div></ion-title>
    <ion-avatar slot="end">
      <img src="assets/imgs/account-white.png">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" shape="round" size="small">
        <ion-icon slot="icon-only" name="arrow-round-up"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input placeholder="Votre message" [(ngModel)]="message"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="send()">
        Envoyer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
