<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Conv."></ion-back-button>
    </ion-buttons>
    <ion-title style="color:white">{{ user.username }}<br><div class="status">En ligne</div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Tirer pour rafraîchir"
    refreshingSpinner="circles"
    refreshingText="Actualisation..."></ion-refresher-content>
  </ion-refresher>
  <ion-item lines="none" *ngFor="let message of messages">
    <ion-badge color="warning" slot="end" *ngIf="message.receveur.id == user_id"> {{ message.message }}<ion-note color="medium">{{ message.created_at.split(" ")[1] }} <ion-icon name="done-all"></ion-icon></ion-note></ion-badge>
    <ion-badge color="light" slot="start" *ngIf="message.receveur.id != user_id">{{ message.message }} <ion-note color="medium">{{ message.created_at.split(" ")[1] }}</ion-note>
    </ion-badge>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="outline" shape="round" size="small">
          <ion-icon slot="icon-only" name="call"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-input placeholder="Votre message" [(ngModel)]="data.message"></ion-input>
      <ion-buttons slot="end" (click)="send()">
        <ion-button >
          Envoyer
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-footer>
