<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Publicités
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="publicites.length > 0">
    <ion-card *ngFor="let publicite of publicites" (click)="detail(publicite.id)">
      <ion-card-header>
        <ion-card-subtitle>{{ publicite.created_at }}</ion-card-subtitle>
        <ion-card-title>{{ publicite.title }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{ publicite.content }}
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="publicites.length == 0">
    <img src="assets/imgs/ads.png" class="img-center">
    <p text-center>Nous n'avons pas encore de publicité</p>
  </div>
</ion-content>
