.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

  .card{
    height: 70px;
    width: 100%;
    background: #3639a4;
    color: white;
    border-radius: 10px;
    padding: 2px;

  }
h1{
  padding: 0 !important;
  margin: 0 !important;
}

h5{
  padding: 0 !important;
  margin: 0;
  margin-top: 5px !important;
}

p{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

