<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Paiement
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="assets/icon/wallet.png" class="center">
  <br>
   <div class="card">
     <h5 style="text-align:center">
       Montant de l'offre
     </h5>
       <h1 style="text-align:center">
         {{ data.montant }} F CFA.
       </h1>
   </div>
 
   <ion-radio-group radio-group [(ngModel)]="data.operateur">
     <p style="text-align:center">
       Opérateurs
     </p>
 
     <ion-item>
         <ion-label>
           <img src="assets/imgs/orange-money.png" width="30px">Orange Money
         </ion-label>
         <ion-radio value="orange"></ion-radio>
     </ion-item>
 
     <ion-item>
         <ion-label>
           <img src="assets/imgs/mtn-mobile-money.jpg" width="30px">MTN mobile money
         </ion-label>
         <ion-radio value="MTN"></ion-radio>
     </ion-item>
 
     <ion-item>
       <ion-label>
         <img src="assets/imgs/moov.jpg" width="30px">
         Moov Flooz
       </ion-label>
       <ion-radio value="MOOV"></ion-radio>
   </ion-item>
 
   <ion-item>
     <ion-label floating>Numéro mobile money</ion-label>
     <ion-input type="contact"></ion-input>
   </ion-item>
  
 </ion-radio-group>
 
 <ion-button expand="block" color="secondary" (click)="checkout()">Payer</ion-button>
</ion-content>
