<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mes annonces
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="annonces.length > 0">
    <ion-row>
      <ion-col size="2" style="color: #e95c7a;">Date</ion-col> 
      <ion-col size="10" style="color: #e95c7a;">Description</ion-col> 
      <hr> 
    </ion-row>
    <ion-row *ngFor="let myAnnonce of annonces" [routerLink]="['/cedent-detail', myAnnonce.id]">
      <ion-col size="2">{{ myAnnonce.created_at }}</ion-col> 
      <ion-col size="10">
        <strong>Activité:</strong> {{ myAnnonce.activite }}<br>
        <strong>Ville:</strong> {{ myAnnonce.ville.name }}<br>
        <strong>CA:</strong> {{ numStr(myAnnonce.chiffre_affaire, " ") }} F CFA
      </ion-col>
      <hr> 
    </ion-row> 
  </ion-grid>
  <div *ngIf="annonces.length == 0">
    <img src="assets/imgs/clipboard.png" class="img-center">
    <p text-center>Vous n'avez pas encore publié d'annonce</p>
    <br><br>
    <ion-button expand="block" color="secondary" routerLink="/creer-annonce-cedent">
      Publier une annonce
    </ion-button>
  </div>
</ion-content>
