<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Investisseurs
    </ion-title>
    <ion-buttons slot="end" routerLink="/investisseur-search">
      <ion-icon name="search"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Tirer pour rafraîchir"
    refreshingSpinner="circles"
    refreshingText="Actualisation..."></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="annonces.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col size="2" style="color: #e95c7a;">Date</ion-col> 
        <ion-col size="10" style="color: #e95c7a;">Montant à investir</ion-col> 
        <hr> 
      </ion-row>
      <ion-row *ngFor="let annonce of annonces" [routerLink]="['/investisseur-detail', annonce.id]">
        <ion-col size="2">{{ annonce.created_at }}</ion-col> 
        <ion-col size="10">
          <strong>Activité:</strong>{{ annonce.activite }}<br>
          <strong>Ville:</strong>{{ annonce.ville }}<br>
          <strong>Montant:</strong>{{ numStr(annonce.montant_a_investir, " ") }} F CFA</ion-col> 
        <hr> 
      </ion-row> 
    </ion-grid>
  </div>
  <div *ngIf="annonces.length == 0">
    <img src="assets/imgs/work.png" class="img-center">
    <p text-center>Nous n'avons pas d'investisseur pour le moment</p>
  </div>
</ion-content>
