<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Actualités
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="actualites.length > 0">
    <ion-card *ngFor="let actualite of actualites" (click)="detail(actualite.id)">
      <ion-card-header>
        <ion-card-subtitle>{{ actualite.created_at }}</ion-card-subtitle>
        <ion-card-title>{{ actualite.title }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{ actualite.content }}
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="actualites.length == 0">
    <img src="assets/imgs/rss.png" class="img-center">
    <p text-center>Nous n'avons pas encore publié d'actualités</p>
  </div>
</ion-content>
