<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Experts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-grid>
    <ion-row routerLink="/expert-detail">
      <ion-col size="1">a</ion-col> 
      <ion-col size="6">b</ion-col> 
      <ion-col size="2">c</ion-col>
      <ion-col size="2">c</ion-col>
      <hr> 
    </ion-row>
    <ion-row routerLink="/expert-detail">
      <ion-col size="1">a</ion-col> 
      <ion-col size="6">b</ion-col> 
      <ion-col size="2">c</ion-col>
      <ion-col size="2">c</ion-col>
      <hr> 
    </ion-row>
  </ion-grid>
  <ion-chip outline color="secondary">
    <ion-label>Charger</ion-label>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-chip>
</ion-content>
