<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Expert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h5 class="ion-text-center">Nom de la structure</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h6>Adresse</h6>
      </ion-col>
      <ion-col size="6">
        <p></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h6>Téléphone</h6>
      </ion-col>
      <ion-col size="6">
        <p></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h6>Site web</h6>
      </ion-col>
      <ion-col size="12">
        <p></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h5 class="ion-text-center">Activité</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h6>Nom de l'activité</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p>description</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="contactExpert == false">
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="secondary" shape="round" fill="outline" (click)="contact()">
          Contacter la structure
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="contactExpert == true">
    <ion-row>
      <ion-col size="12">
        <h5 class="ion-text-justify">Contactez la structure</h5>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label position="floating">Nom et prénoms</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Téléphone</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Message</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-button expand="block" color="secondary">
      <ion-icon name="mail-unread"></ion-icon>
      Envoyer le message
    </ion-button>
  </ion-grid>
</ion-content>
