<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <div color="primary" id="sidemenu">
          <br><br>
          <img src="assets/imgs/user.png" class="img-center">
        </div>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerLink="/home">
              <ion-icon slot="start" name="home" color="secondary"></ion-icon>
              <ion-label>
                Accueil
              </ion-label>
            </ion-item>
            <ion-item routerLink="/mon-espace" *ngIf="connecte == true">
              <ion-icon slot="start" name="list" color="secondary"></ion-icon>
              <ion-label>
                Mon espace
              </ion-label>
            </ion-item>
            <ion-item routerLink="/liste-formation">
              <ion-icon slot="start" name="list" color="secondary"></ion-icon>
              <ion-label>
                Formations
              </ion-label>
            </ion-item>
            <ion-item routerLink="/cedent">
              <ion-icon slot="start" name="list" color="secondary"></ion-icon>
              <ion-label>
                Céder
              </ion-label>
            </ion-item>
            <ion-item routerLink="/investisseur">
              <ion-icon slot="start" name="list" color="secondary"></ion-icon>
              <ion-label>
                Investir
              </ion-label>
            </ion-item>
            <ion-item routerLink="/expert-search">
              <ion-icon slot="start" name="list" color="secondary"></ion-icon>
              <ion-label>
                Annuaire des experts
              </ion-label>
            </ion-item>
            <ion-item routerLink="/abonnement">
              <ion-icon slot="start" name="list" color="secondary"></ion-icon>
              <ion-label>
                Abonnement
              </ion-label>
            </ion-item>
            <ion-item routerLink="/faq">
              <ion-icon slot="start" name="list" color="secondary"></ion-icon>
              <ion-label>
                FAQ
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
