#sidemenu{
    width: 100%;
    height: 280px;
    background-image: radial-gradient(circle at bottom right, #3639a4, #3639a4);
    text-align: center;
    color: white;
}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

hr {
  //border: 1px solid #8c8b8b !important;
  height: 1px !important;
  width: 500px !important;
  background: #8c8b8b !important;
  display: block !important;
  font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
}