<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mes souscriptions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="abonnements.length == 0">
    <img src="assets/imgs/cloud.png" class="img-center">
    <p text-center>Vous n'avez pas d'abonnement actif</p>

    <ion-button expand="block" color="secondary" (click)="abonnement()">
      <ion-icon name="log-in"></ion-icon>
      Faire un abonnement
    </ion-button>
  </div>
  <div *ngIf="abonnements.length > 0">
    <div class="card" *ngFor="let abonnement of abonnements">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <span class="hight">Abonnement en cours</span><br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <small class="justify">Nombre de mise en relation: {{ abonnement.nombre_relation_initial }}</small><br>
            <small class="justify">Nombre de mise en relation restant: {{ abonnement.nombre_relation_restant }}</small><br>
            <small class="justify">Expire le {{ abonnement.datefin }}</small><br>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div><br>
  </div>
</ion-content>
