<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Connexion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="assets/imgs/BAV.png" class="animated fadeInDown center">
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="text" [(ngModel)]="data.login"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input type="password" [(ngModel)]="data.password"></ion-input>
  </ion-item>
  <ion-button expand="block" color="secondary" (click)="signIn()">
    <ion-icon name="log-in"></ion-icon>
    Me connecter
  </ion-button>
</ion-content>
