<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Créer une annonce
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-item>
        <ion-label position="floating">Nom de l'entreprise</ion-label>
        <ion-input type="text" [(ngModel)]="data.nom_entreprise"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date de création</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" min="1950-01-01" [(ngModel)]="data.date_creation_entreprise"></ion-datetime>
      </ion-item>
      <ion-item>
      <ion-item>
        <ion-label>Type de Société</ion-label>
        <ion-select [(ngModel)]="data.typesociete">
          <ion-select-option *ngFor="let typeSociete of typeSocietes" [value]="typeSociete.id">{{ typeSociete.name }}</ion-select-option>
        </ion-select>
      </ion-item>
        <ion-label position="floating">Pays</ion-label>
        <ion-select [(ngModel)]="data.pays">
          <ion-select-option *ngFor="let pay of pays" [value]="pay.id">{{ pay.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ville</ion-label>
        <ion-select [(ngModel)]="data.ville">
          <ion-select-option *ngFor="let ville of villes" [value]="ville.id">{{ ville.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Secteur d'activité</ion-label>
        <ion-input type="text" [(ngModel)]="data.secteuractivites"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Chiffre d'affaire</ion-label>
        <ion-input type="number" [(ngModel)]="data.chiffre_affaire"></ion-input>    
      </ion-item>
      <ion-item>
        <ion-label position="floating">Type de transaction</ion-label>
        <ion-select [(ngModel)]="data.typetransaction_id">
          <ion-select-option *ngFor="let typetransaction of typetransactions" [value]="typetransaction.id">{{ typetransaction.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="data.typetransaction_id == 3">
        <ion-label position="floating">Pourcentage de parts à céder(%)</ion-label>
        <ion-input type="tel" [(ngModel)]="data.pourcentage_a_ceder"></ion-input>
      </ion-item>
      <ion-item *ngIf="data.typetransaction_id == 3">
        <ion-label position="floating">Profil du partenaire recherché</ion-label>
        <ion-input type="text" [(ngModel)]="data.profil_partanaire"></ion-input>
      </ion-item>
        <ion-item>
          <ion-label position="floating">Raison de la transaction</ion-label>
          <ion-textarea [(ngModel)]="data.raison_transaction"></ion-textarea>
        </ion-item>
        <ion-button expand="block" color="secondary" (click)="send()">
          Publier l'annonce
        </ion-button>
</ion-content>