<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Experts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h5 class="ion-text-justify">Trouver des experts</h5>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label position="floating">Ville</ion-label>
      <ion-select [(ngModel)]="data.ville_id">
        <ion-select-option *ngFor="let ville of villes" value="{{ ville.id }}">{{ ville.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Domaine de compétence</ion-label>
      <ion-input type="text" [(ngModel)]="data.domaine_competence"></ion-input>    
    </ion-item>
    <ion-button expand="block" color="secondary" (click)="search()">
      <ion-icon name="search"></ion-icon>
      Voir les experts
    </ion-button>
  </ion-grid>
</ion-content>
