.card{
  width:100%;
  background-color:rgb(237, 237, 237); 
  border-radius:10px;
  border:2px solid#ccc;
  margin-bottom: 10px;
}

.hight{
  font-size: 20px;
  color: #3639a4;
  font-weight:bold;
}

.hight-light{
  font-size: 15px;
  color: #e95c7a;
  font-weight:bold;
}

.justify{
  text-align: justify;
}