<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Business à vendre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="card" *ngFor="let data of datas">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <small class="hight">{{ data.username }}</small><br>
          <small><strong>Domaine: </strong>{{ data.domaine_competence }}</small><br>
          <small><strong>Ville: </strong>{{ data.ville.name }}</small><br>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="outline" size="small" color="secondary" (click)="mise_en_relation(data)">Mise en relation</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
