h4,h5{
    color:#e95c7a;
    font-weight: bold;
  }
  
  h6{
    color:#3639a4;
    font-weight: bold;
  }

  label{
    font-weight: bold;
    color: #000;
  }

  ion-card-title{
    color:#3639a4;
  }