<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cession d'entreprise
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Information de l'entreprise</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <label for="">Nom de l'entreprise</label>
      <p>{{ myAnnonce.nom_entreprise }}</p><br>

      <label for="">Date de création</label>
      <p>{{ myAnnonce.date_creation_entreprise }}</p><br>

      <label for="">Secteur d'activité</label>
      <p>{{ myAnnonce.secteuractivites }}</p><br>

      <label for="">Type de société</label>
      <p>
        <ion-chip color="primary" outline="true">
        <ion-label color="primary">{{ myAnnonce.typesociete.name }}</ion-label>
      </ion-chip></p><br>

      <label for="">Pays</label>
      <p>{{ myAnnonce.pays.name }}</p><br>

      <label for="">Ville</label>
      <p>{{ myAnnonce.ville.name }}</p><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Situation Financière</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <label for="">Chiffre d'affaire</label>
      <p>{{ numStr(myAnnonce.chiffre_affaire, " ") }} F CFA</p><br>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="myAnnonce.pourcentage_a_ceder != ''">
    <ion-card-header>
      <ion-card-title>Information sur la cession</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <label for="">Pourcentage à céder</label>
      <p>
        <ion-chip color="primary" outline="true">
        <ion-label color="primary">{{ myAnnonce.pourcentage_a_ceder }}%</ion-label>
      </ion-chip></p><br>

      <label for="">Type de transaction</label>
      <p>{{ myAnnonce.typetransaction.name }}</p><br>

      <label for="">Raison de la transaction</label>
      <p>{{ myAnnonce.raison_transaction }}</p><br>

      <label for="">Profil du partenaire recherché</label>
      <p>{{ myAnnonce.profil_partanaire }}</p><br>
    </ion-card-content>
  </ion-card>
 
<ion-grid *ngIf="user_id != myAnnonce.user.id">
  <ion-button expand="block" color="secondary"  (click)="mise_en_relation()">
    <ion-icon name="mail-unread"></ion-icon>
    Mise en relation
  </ion-button>
</ion-grid>
<ion-grid *ngIf="user_id == myAnnonce.user.id">
  <ion-button expand="block" color="secondary" (click)="remove()">
    <ion-icon name="trash-outline"></ion-icon>
    Supprimer
  </ion-button>
</ion-grid>
</ion-content>
