<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Créer une annonce
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item>
      <ion-label position="floating">Montant minimun du CA</ion-label>
      <ion-input type="tel" [(ngModel)]="montantMinCA"></ion-input>    
    </ion-item>
    <ion-item>
      <ion-label position="floating">Montant maximum du CA</ion-label>
      <ion-input type="tel" [(ngModel)]="montantMaxCA"></ion-input>    
    </ion-item>
    <ion-item>
      <ion-label position="floating">Montant minimun à investir</ion-label>
      <ion-input type="tel" [(ngModel)]="montantMinInvestir"></ion-input>    
    </ion-item>  
    <ion-item>
      <ion-label position="floating">Montant maximum à investir</ion-label>
      <ion-input type="tel" [(ngModel)]="montantMaxInvestir"></ion-input>    
    </ion-item>  
    <ion-item>
      <ion-label position="floating">Pays</ion-label>
      <ion-select [(ngModel)]="data.pays">
        <ion-select-option *ngFor="let pay of pays" [value]="pay.id">{{ pay.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ville</ion-label>
      <ion-select [(ngModel)]="data.ville">
        <ion-select-option *ngFor="let ville of villes" [value]="ville.id">{{ ville.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Secteur d'activité</ion-label>
      <ion-input type="text" [(ngModel)]="data.secteuractivites"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Complément de la transaction</ion-label>
      <ion-input type="text" [(ngModel)]="data.complementaire_transaction"></ion-input>    
    </ion-item>
    <small><span style="color: red;">*CA:</span>Chiffre d'affaire</small><br> 
    <ion-button expand="block" color="secondary" (click)="send()">
      Publier l'annonce
    </ion-button>
  </ion-grid>
</ion-content>
