<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Modification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Pays</ion-label>
    <ion-select [(ngModel)]="data.pays_id">
      <ion-select-option *ngFor="let p of pays" value="{{ p.id }}">{{ p.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Ville</ion-label>
    <ion-select [(ngModel)]="data.ville_id">
      <ion-select-option *ngFor="let ville of villes" value="{{ ville.id }}">{{ ville.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Civilité</ion-label>
    <ion-select [(ngModel)]="data.civilite">
      <ion-select-option value="M">M.</ion-select-option>
      <ion-select-option value="Mme">Mme</ion-select-option>
      <ion-select-option value="Mlle">Mlle</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nom et prénoms</ion-label>
    <ion-input [(ngModel)]="data.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" [(ngModel)]="data.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Date de naissance</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" min="1950-01-01" [(ngModel)]="data.date_naissance"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numéro de téléphone</ion-label>
    <ion-input type="tel" [(ngModel)]="data.telephone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Adresse</ion-label>
    <ion-input type="text" [(ngModel)]="data.adresse"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input type="password" [(ngModel)]="data.password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmation mot de passe</ion-label>
    <ion-input type="password" [(ngModel)]="data.password_confirmation"></ion-input>
  </ion-item>
  <ion-button expand="block" color="secondary" (click)="save()">
    Modifier
  </ion-button>
</ion-content>

