<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Investisseur
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Information</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <label for="">Pseudo de l' investisseur</label>
      <p>{{ myAnnonce.user.username }}</p><br>

      <label for="">Secteur d'activité</label>
      <p>{{ myAnnonce.secteuractivites }}</p><br>

      <label for="">Pays</label>
      <p>{{ myAnnonce.pays.name }}</p><br>

      <label for="">Ville</label>
      <p>{{ myAnnonce.ville.name }}</p><br>

      <label for="">Fourchette chiffre d'affaire</label>
      <p>{{ numStr(myAnnonce.fourchette_chriffes_affaires, " ") }} F CFA</p><br>

      <label for="">Fourchette du montant à investir</label>
      <p>{{ numStr(myAnnonce.fourchette_montant_a_investir, " ") }} F CFA</p><br>

      <label for="">Information complémentaire sur la transaction</label>
      <p>{{ myAnnonce.complementaire_transaction }}</p><br>
    </ion-card-content>
    </ion-card>
    
    <ion-grid *ngIf="user_id != myAnnonce.user.id">
      <ion-button expand="block" color="secondary"  (click)="mise_en_relation()">
        <ion-icon name="mail-unread"></ion-icon>
        Mise en relation
      </ion-button>
    </ion-grid>
    <ion-grid *ngIf="user_id == myAnnonce.user.id">
      <ion-button expand="block" color="secondary" (click)="remove()">
        <ion-icon name="trash-outline"></ion-icon>
        Supprimer
      </ion-button>
    </ion-grid>

</ion-content>
