<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detail de la formation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <label for="">Titre de la formation:</label>
    <p>
      {{ formationDetail.title }}</p><br>

    <label for="">Horaire:</label>
    <p>{{ formationDetail.published_at }}</p><br>

    <label for="">Description de la formation</label>
    <p class="ion-text-justify">{{ formationDetail.content }}</p>
  </ion-card-content> 
</ion-content>
