#block{
    width: 100%;
    height: 40%;
    background-size:contain;
    background-position:center;
}

.card-button{
    border: 2px solid #3639a4 !important;
    border-radius: 10px;
}

hr {
    border: 2px solid #3639a4 !important;
    height: 1px !important;
    width: 50px !important;
    background: #3639a4 !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
}

h5{
    color: #3639a4;
}