<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mon espace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="type_user == 1">
      <ion-col col-6 routerLink="/creer-annonce-cedent">
        <div class="card-button">
          <img src="assets/imgs/writing.png" class="img-center" width="70px">
          <hr>
          <h5 text-center style="margin-top:5px">
            Créer une annonce
          </h5>
        </div>
      </ion-col>
      <ion-col col-6 routerLink="/list-annonce-cedent">
        <div class="card-button">
          <img src="assets/imgs/clipboard.png" class="img-center" width="70px">
          <hr>
          <h5 text-center style="margin-top:5px">
            Mes annonces
          </h5>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="type_user == 3">
      <ion-col col-6 routerLink="/creer-annonce-investisseur">
        <div class="card-button">
          <img src="assets/imgs/writing.png" class="img-center" width="70px">
          <hr>
          <h5 text-center style="margin-top:5px">
            Créer une annonce
          </h5>
        </div>
      </ion-col>
      <ion-col col-6 routerLink="/list-annonce-investisseur">
        <div class="card-button">
          <img src="assets/imgs/clipboard.png" class="img-center" width="70px">
          <hr>
          <h5 text-center style="margin-top:5px">
            Mes annonces
          </h5>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 routerLink="/tchat-list-demandeur">
        <div class="card-button">
          <img src="assets/imgs/chat.png" class="img-center" width="70px">
          <hr>
          <h5 text-center style="margin-top:5px">
            Mes Relations
          </h5>
        </div>
      </ion-col>
      <ion-col col-6 routerLink="/mes-souscriptions" *ngIf="type_user == 1 || type_user == 3">
        <div class="card-button">
          <img src="assets/imgs/cloud.png" class="img-center" width="70px">
          <hr>
          <h5 text-center style="margin-top:5px">
            Mes Souscriptions
          </h5>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 routerLink="/profil">
        <div class="card-button">
          <img src="assets/imgs/account-pink.png" class="img-center" width="70px">
          <hr>
          <h5 text-center style="margin-top:5px">
            Mon Profil
          </h5>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
