<ion-header>
  <ion-toolbar color="primary">
      <ion-title size="large">Chats</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item detail>
  <div *ngFor="let relation of relations" (click)="tchat(relation.expert)">
    <div *ngIf="relation.expert.id != user">
      <ion-avatar slot="start" >
        <img src="assets/imgs/account.png">
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <h3>{{ relation.expert.username }}</h3>
          <ion-note slot="end">12:54</ion-note>
        </div>
        <p>
          <ion-icon class="text-icon" color="primary" name="done-all"></ion-icon>
          {{ relation.message }}
        </p>
      </ion-label>
    </div>
  </div>
</ion-item>
</ion-content>
