hr {
    border: 1px solid #ccc !important;
    height: 1px !important;
    width: 100% !important;
    background: #ccc !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
}

h4,h5{
    color:#e95c7a;
    font-weight: bold;
}

h6{
    color:#3639a4;
    font-weight: bold;
}