<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Formations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="formationFormat.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h5>Liste des formations</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list mode="ios" lines="none">
      <ion-grid>
        <ion-row *ngFor="let formation of formationFormat" [routerLink]="['/formation-detail', formation.id]">
          <ion-col size="2">{{ formation.created_at }}</ion-col> 
          <ion-col size="10">{{ formation.title }}</ion-col> 
          <hr> 
        </ion-row> 
      </ion-grid>
    </ion-list>
  </div>
  <div *ngIf="formationFormat.length == 0">
    <img src="assets/imgs/clipboard.png" class="img-center">
    <p text-center>Nous n'avons pas encore de formation disponible</p>
  </div>
</ion-content>
