<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Business à vendre
    </ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Tirer pour rafraîchir"
    refreshingSpinner="circles"
    refreshingText="Actualisation..."></ion-refresher-content>
  </ion-refresher>
  <ion-slides pager loop="true" speed="3000" style="height:200px; width: 100%;"> 
    <ion-slide>
      <img class="shadow" src="assets/imgs/bg1.jpg" style="width: 100%;"/>
    </ion-slide>
    <ion-slide routerLink="/cedent">
      <img class="shadow" src="assets/imgs/bg2.jpg" style="width: 100%;"/>
    </ion-slide>
    <ion-slide  routerLink="/investisseur">
      <img class="shadow" src="assets/imgs/bg3.jpg" style="width: 100%;"/>
    </ion-slide>
    <ion-slide  routerLink="/expert-search">
      <img class="shadow" src="assets/imgs/bg4.jpg" style="width: 100%;"/>
    </ion-slide>
  </ion-slides>
  <ion-list mode="ios" lines="none" class="animated fadeIn">
    <ion-item>
      <ion-label color="primary" style="font-weight: bold;">Cession d'entreprise et d'actif</ion-label>
      <ion-badge slot="end" color="secondary" routerLink="/cedent">voir +</ion-badge>
    </ion-item>

    <ion-grid *ngIf="annoncesCedantFormat.length > 0">
      <ion-row>
        <ion-col size="2" style="color: #e95c7a;">Date</ion-col> 
        <ion-col size="10" style="color: #e95c7a;">Description</ion-col> 
        <hr> 
      </ion-row>
      <ion-row *ngFor="let annonceCedant of annoncesCedantFormat" [routerLink]="['/cedent-detail', annonceCedant.id]">
        <ion-col size="2">{{ annonceCedant.created_at }}</ion-col> 
        <ion-col size="10">
          <strong>Activité:</strong> {{ annonceCedant.activite }}<br>
          <strong>Ville:</strong> {{ annonceCedant.ville.name }}<br>
          <strong>CA:</strong> {{ numStr(annonceCedant.chiffre_affaire, " ") }} F CFA
        </ion-col> 
        <hr> 
      </ion-row> 
    </ion-grid>
    <ion-grid *ngIf="annoncesCedantFormat.length == 0" >
      <ion-row>
        <ion-col size="2"></ion-col> 
        <ion-col size="8"><small>Pas d'annonces dans cette section</small></ion-col> 
        <ion-col size="2"></ion-col> 
      </ion-row> 
    </ion-grid>
  </ion-list>

  <ion-list mode="ios" lines="none" class="animated fadeIn">
    <ion-item>
      <ion-label color="primary" style="font-weight: bold;">Recherche d'acquisition et partenariat</ion-label>
      <ion-badge slot="end" color="secondary" routerLink="/investisseur">voir +</ion-badge>
    </ion-item>


    <ion-grid *ngIf="annoncesInvestisseurFormat.length > 0" >
      <ion-row>
        <ion-col size="2" style="color: #e95c7a;">Date</ion-col> 
        <ion-col size="10" style="color: #e95c7a;">Montant à investir</ion-col> 
        <hr> 
      </ion-row>
      <ion-row *ngFor="let annonceInvestisseur of annoncesInvestisseurFormat" [routerLink]="['/investisseur-detail', annonceInvestisseur.id]">
        <ion-col size="2">{{ annonceInvestisseur.created_at }}</ion-col> 
        <ion-col size="10">
          <strong>Activité:</strong>{{ annonceInvestisseur.activite }}<br>
          <strong>Ville:</strong>{{ annonceInvestisseur.ville }}<br>
          <strong>Montant:</strong> {{ numStr(annonceInvestisseur.montant_a_investir, " ") }} F CFA<br>
        </ion-col> 
        <hr> 
      </ion-row> 
    </ion-grid>
    <ion-grid *ngIf="annoncesInvestisseurFormat.length == 0" >
      <ion-row>
        <ion-col size="2"></ion-col> 
        <ion-col size="8"><small>Pas d'annonces dans cette section</small></ion-col> 
        <ion-col size="2"></ion-col> 
      </ion-row> 
    </ion-grid>
  </ion-list>
</ion-content>
