<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Business à vendre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="offres.length > 0">
    <div *ngFor="let offre of offres">
      <div class="card" *ngIf="offre.typeuser.id == typeUser">
        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <span class="hight">{{ offre.title }}</span><br>
              <small class="justify">type d'offre: {{ offre.typeuser.name }}</small>
            </ion-col>
            <ion-col size="5">
              <span class="hight-light">{{ offre.cout }} F CFA</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7">
              <small class="justify">Nombre de mise en relation: {{ offre.nombre_relation }}</small><br>
              <small class="justify">Durée: {{ offre.duree }} jours</small><br>
            </ion-col>
            <ion-col size="3">
              <ion-button fill="outline" size="small" color="secondary" (click)="souscrire(offre.id,offre.cout)">Souscrire</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <div *ngIf="offres.length == 0">
    <img src="assets/imgs/price.png" class="img-center">
    <p text-center>Aucune offre n'est disponible</p>
  </div>
</ion-content>
